html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --secondary-color: #f5f4fa;
  --button-text-color: #212121;
  --icon-color: #afb1b8;
}

body {
  background-color: #ffffff;
  color: var(--text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
}

/* Logo */

.logo.primary {
  color: var(--black-color);

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo.secondary {
  color: var(--white-color);

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--accent-color);
}

/* Page header */

.page-header {
  color: var(--white-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* Main-nav  */
.main-nav {
  display: flex;
  align-items: center;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  /* background-color: tomato; */
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Info-nav */

.info-nav {
  display: flex;
  margin-left: auto;
}

.info-nav list {
  align-items: center;
}

.info-nav .item {
  margin-right: 30px;
}

.info-nav .item:last-child {
  margin-right: 0;
}

.info-nav .link {
  display: flex;
  align-items: center;
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-nav .link:hover,
.info-nav .link:focus {
  color: var(--accent-color);
}

.network-icon-envelope {
  box-sizing: border-box;

  height: 20px;
  width: 20px;
  margin-right: 10px;

  fill: var(--text-color);
}

.link:hover .network-icon-envelope {
  fill: var(--accent-color);
}

/* Hero */

.hero {
  /* background-color: #dedddd; */
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Section */

.section {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.feature-list {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: 0;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.feature-list-item {
  margin-right: 30px;
}

.feature-list-item:last-child {
  margin-right: 0px;
}

.feature-list-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;

  /* background-size: contain; */
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock\ 1.svg);
}
.icon-diagram::before {
  background-image: url(../images/svg/diagram\ 1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut\ 1.svg);
}

/* Works */

.work-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-between;
  /* outline: solid 2px red; */
}

/* Teams */

.team-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-between;
}

.networks-team {
  display: flex;
  justify-content: space-evenly;
}

.section.team {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;

  width: 100%;
  background-color: #f5f4fa;
}

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}

.network {
  display: inline-block;
  width: 44px;
  height: 44px;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
}

.network:hover {
  background-color: var(--accent-color);
}

.network-icon {
  box-sizing: border-box;

  height: 20px;
  width: 20px;
  fill: var(--icon-color);
}

.network-icon:hover {
  fill: var(--white-color);
}

.network:hover .network-icon {
  fill: var(--white-color);
}

.network-list {
  display: flex;
  justify-content: space-evenly;
}

/* Client-list */

.client-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0;
  padding-left: 0;
  justify-content: center;
}

.client-list > li {
  margin-right: 30px;
}

.client-list > li:last-child {
  margin-right: 0px;
}

.client-icon {
  box-sizing: content-box;
  padding: 20px 44px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--icon-color);
  height: 44px;
  width: 74px;
}

.client-icon:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Button */

.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
}

.button-secondary {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--button-text-color);
  background-color: var(--secondary-color);

  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;

  cursor: pointer;
}

.button-secondary:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* footer */

.container.footer {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer {
  background-color: var(--footer-color);
  display: flex;
  flex-wrap: nowrap;
}

.networks-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
}

.networks-list-item {
  margin-right: 10px;
}

.networks-list-item:last-child {
  margin-right: 0px;
}

.networks .title {
  color: var(--white-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.networks .networks {
  display: flex;
}

.networks {
  margin-right: 70px;
}

.network.footer {
  display: inline-block;
  width: 44px;
  height: 44px;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.network.footer:hover {
  display: inline-block;
  width: 44px;
  height: 44px;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.links:hover {
  background-color: #2196f3;
}

.footer .text {
  color: var(--white-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.footer-title {
  color: var(--white-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-nav {
  padding: 0;
}

.footer-nav .link {
  color: #ffffff99;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--accent-color);
}

.information {
  margin-right: 70px;
}

.button-footer {
  display: inline-flex;

  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;

  cursor: pointer;
}

.button-footer::after {
  content: "";
  width: 24px;
  height: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;

  background-image: url(../images/svg/icon\ send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Portfolio */

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  justify-content: center;
}

.portfolio-nav-item {
  margin-right: 8px;
}

.portfolio-nav-item:last-child {
  margin-right: 0px;
}

.test-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;

  /* outline: 1px solid blue; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0;
  padding-left: 0;
  /* background-color: tomato; */
}

.flex-element {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element .title {
  color: var(--primary-text-color);

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.flex-element .text {
  color: var(--text-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}
