.logo {
  color: $black-color;

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    // margin-right: 88px;
  }
}

.logo__accent {
  color: $accent-color;
}

.footer__logo {
  color: $white-color;

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .logo .logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: start;
  }
  .logo--accent {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    text-align: start;
  }
}
