.logo {
  color: $black-color;

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: $accent-color;
}

.footer__logo {
  color: $white-color;

  font-family: Raleway, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
