.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    margin-left: 93px;
  }
}
