.input-checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.form .input-checkbox {
  position: relative;
}

.input-checkbox.user-aggrement {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.input-checkbox.user-aggrement {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-aggrement.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field__input-icon.checkbox__icon {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;

  top: 50%;
  transform: translateY(-50%);

  border: 2px solid $black-color;
  border-radius: 2px;
  overflow: hidden;
}

.user-aggrement.checkbox + .checkbox__icon .input-checkbox__icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-aggrement.checkbox:checked + .form-field__input-icon.checkbox__icon {
  border: 2px solid $accent-color;
}

.user-aggrement.checkbox:checked + .checkbox__icon .input-checkbox__icon {
  width: 17px;
  height: 17px;
  opacity: 1;
  fill: $white-color;
  background-color: $accent-color;
}

.form-field__input-icon .checkbox__icon {
  display: inline-block;

  margin-right: 0;
}

.input-checkbox__label.checkbox {
  margin-left: 19px;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .input-checkbox__label.checkbox {
    margin-left: 19px;
    font-size: 14px;
  }
}

.input-checkbox__icon {
  display: block;
  max-width: 100%;
  height: auto;
}
